numpy==1.24.4
pandas==1.5.3
scikit-learn
matplotlib
seaborn
joblib
scipy==1.10.1
statsmodels
scorecardpy==0.1.9.7
python-box==6.0.2
pyYAML
types-PyYAML
ensure==1.0.2
flask
flask-Cors
category-encoders
notebook
-e .