pandas
numpy
scikit-learn
matplotlib
seaborn

# Notebook
notebook

# Data validation / config utils
python-box==6.0.2
pyYAML
types-PyYAML
ensure==1.0.2

# Model persistence
joblib

# Web app
Flask
Flask-Cors

# Credit Scoring (WOE & Scorecard)
scorecardpy
optbinning
category-encoders

# Optional: statistik tambahan
scipy
statsmodels
-e .